<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <script type="text/javascript" src="./lib/LZWEncoder.js"></script>
    <script type="text/javascript" src="./lib/NeuQuant.js"></script>
    <script type="text/javascript" src="./lib/GIFEncoder.js"></script>
    <script type="text/javascript" src="./lib/b64.js"></script>
    <meta name="description" content="<%= htmlWebpackPlugin.options.title %>" />
  </head>

  <body>
    <canvas></canvas>
  </body>
</html>
