html,
body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  background: black;
}
#canvas {
  position: absolute;
  width: 1920px;
  height: 1080px;
}

#init-canvas {
  position: absolute;
  width: 480px;
  height: 270px;
  display: none;
}

h1 {
  color: white;
  font-size: 240px;
  position: absolute;
  font-family: "PT Mono", monospace;
}
* {
  padding: 0;
  margin: 0;
}
